---
title: Welcome to MaverickTimes
layout: layouts/home.njk
description: Digital Platform for discussing about Marketing Trends.
image: /img/profilepic.jpeg
date: Last Modified
---

<figure>
  <img 
    src="/img/profilepic.jpeg" 
    alt="" 
    align="left" 
    aria-label="Praveen" 
    fetchpriority="high" 
    loading="eager"
  >
</figure>

Praveen is a web developer specializing in Next.js, Eleventy, Python, and TypeScript. Combining his engineering background with a passion for SEO and startup metrics, he builds functional web apps and grows niche sites like freegovtjjob and SaaS blogs. Beyond coding, he creates gaming and media content on YouTube.


<div id="posts">
  <h2>Latest Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>